@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

.container {
    background: linear-gradient(right, orange red);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.new-todo {
    margin: 50px 20%;
}

#todoform {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todoform input[type="text"],
#todoform input[type="date"],
#todoform select {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #683131;
    border-radius: 2px;
}


#todoform input[type="text"] {
    width: 96.5%;
    border-radius: 6px;
}

#todoform select {
    width: 30%;
}

#todoform input[type="date"] {
    width: 66%;
}


#todoform button[type="submit"],
#todoform button[type="button"] {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #631919;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#todoform button[type="submit"] {
    width: 50%;
}

#todoform button[type="button"] {
    width: 46%;
}

/* Style the todo list */
#todo-list {
    font-size: 2rem;
    /* font-weight: 700; */
    list-style: none;
    margin: 0 20% 10% 20%;
    padding: 0;
}

#sort-todos::before {
    content: "Sort Todo";
}

.todo {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.todo:hover {
    background-color: #e4b1ff;
}

.todo i {
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
}

.todo p {
    font-size: 1.1rem;
    font-weight: 500;
    width: 50%;
    text-align: start;
}

.todo p.checked {
    text-decoration: line-through;
    color: #888;
}

.todo .task-list {
    width: 70%;
    display: flex;
}

.todo .edit-todo {
    margin-left: 10px;
}

.todo .deadline {
    width: 8%;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.todo .deadline:hover {
    background-color: #f0d8d8;
}

.todo .deadline-2 {
    font-size: 0.6rem;
    display: none;
}

#sort-todos {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


.priority-label {
    width: 10%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
    background-color: #e4b1ff;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

hr {
    margin: 10px 15%;
    border-width: 6px;
}

#todo-list .checked {
    text-decoration: line-through;
}

@media screen and (max-width: 1078px) {

    .new-todo {
        margin: 50px 10%;
    }

    #todoform input[type="text"] {
        width: 96.9%;
        border-radius: 6px;
    }

    #sort-todos::before {
        content: "Sort";
    }

    #todo-list {
        margin: 0 2px 10% 2px;
    }

    .priority-label {
        font-size: 0.8rem;
        width: 5rem;
    }


    .todo p {
        font-size: 1rem;
    }

    .todo .deadline {
        display: none;
    }

    .todo .deadline-2 {
        display: block;
    }

    hr {
        margin: 10px 5%;
        border-width: 6px;
    }
}